@model ProductViewModel
<div class="card col-md-3 g-3 pt-2">
     <img src="https://picsum.photos/100/150?random=@Model.Id" height="150" class="card-img-top" alt="...">
    <div class="card-body">
    <h5 class="card-title">@Model.Name</h5>
    <p class="card-text">@Model.Price</p>
    <a href="#" class="btn btn-warning">İncele</a>
    </div>
 </div>