@model string
<div class="container">
    <h1 class="display-4">Hesap Onay</h1>
    <div class="text-danger" asp-validation-summary="All">
        <div class="alert alert-success">@Model</div>
    </div>
</div>