<div class="container w-25 mt-5">
    <h3 class="text-primary">Şifre Sıfırlama</h3>
    <hr/>
    <form
        asp-area="" asp-controller="Account" asp-action = "ForgotPassword" method="post" class="form-group" >
        <div class="text-danger" asp-validation-summary="All"></div>
    <div class="d-flex flex-column">
        <label class="form-label mb-3">Eposta adresinizi yazınız: </label>
        <input class="form-control mb-3" name="email"  />
        <button class="btn btn-primary ">Şifre sıfırla</button>
    </div>
    </form>
</div>