<!-- Footer -->
<footer class="main-footer">
    <strong>FS-2310-13 Sınıfı Tarafından Hazırlanmıştır. </strong>
    Tüm Hakları Saklıdır.
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 1.1.0
    </div>
</footer>